In [17]:
import pandas as pd

In [18]:
bookings = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-m-korneeva-25/Py/2_bookings.csv', sep=';')

In [19]:
bookings.shape

(119390, 21)

In [20]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [53]:
def rename_to_perfect(string):
    new_string = string.lower()
    new_string = new_string.replace(' ', '_')
    return new_string

In [54]:
bookings = bookings.rename(columns=rename_to_perfect)

In [82]:
bookings[:7]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [47]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [59]:
bookings_countries = bookings.query('is_canceled == "0"').value_counts('country')

bookings_countries

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
MRT        1
MMR        1
MLI        1
MDG        1
PLW        1
Length: 165, dtype: int64

In [86]:
bookings_hotel_resort = bookings.query('hotel == "Resort Hotel"').agg({'stays_total_nights': 'mean'}).round(2)

bookings_hotel_city = bookings.query('hotel == "City Hotel"').agg({'stays_total_nights': 'mean'}).round(2)

print(bookings_hotel_resort,'\n', bookings_hotel_city)

stays_total_nights    4.32
dtype: float64
 stays_total_nights    2.98
dtype: float64

In [87]:
bookings_room_types = bookings.query('assigned_room_type != reserved_room_type').shape
bookings_room_types[:10]

(14917, 21)

In [89]:
bookings_month_in_2016 = bookings.query('arrival_date_year == "2016"') \
    .value_counts('arrival_date_month')

bookings_month_in_2017 = bookings.query('arrival_date_year == "2017"') .value_counts('arrival_date_month')

print(bookings_month_in_2016, '\n\n', bookings_month_in_2017)

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
dtype: int64

 arrival_date_month
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
dtype: int64

In [91]:
bookings \
    .query('hotel == "City Hotel" & is_canceled == "1"') \
    .groupby('arrival_date_year')['arrival_date_month'] \
    .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [95]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [103]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

bookings_hotel_resort_kids = bookings.query('hotel == "Resort Hotel"').agg({'total_kids': 'mean'}).round(2)

bookings_hotel_city_kids = bookings.query('hotel == "City Hotel"').agg({'total_kids': 'mean'}).round(2)

print('resort:', bookings_hotel_resort_kids, '\n\n', 'city:', bookings_hotel_city_kids)

resort: total_kids    0.14
dtype: float64

 city: total_kids    0.1
dtype: float64

In [112]:
bookings['has_kids'] = bookings.total_kids >= 1

bookings_churn_rate_has_kids = (bookings.query('has_kids == True and is_canceled == "1"').value_counts('has_kids') / bookings.query('has_kids == True').value_counts('has_kids') * 100).round(2)

bookings_churn_rate_has_not_kids = (bookings.query('has_kids == False and is_canceled == "1"').value_counts('has_kids') / bookings.query('has_kids == False').value_counts('has_kids') *100).round(2)

print('has:', bookings_churn_rate_has_kids, '\n\n', "hasn't:", bookings_churn_rate_has_not_kids)

has: has_kids
True    34.92
dtype: float64

 hasn't: has_kids
False    37.22
dtype: float64